* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-family:
    Tahoma,
    Arial,
    PingFangSC-Regular,
    Hiragino Sans GB,
    Microsoft Yahei,
    sans-serif;
  line-height: 1.5;
  background-color: #cdcdcd;
  height: 1000px;
}

/* header板块 */
@media screen and (max-width: 450px) {
  .header {
    margin-bottom: 60px;
  }

  .logo {
    margin: 0 auto;
  }

  .header .w input {
    width: 430px;
    margin: 25px auto;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    padding: 10px;
    display: block;
  }
}



/* 媒体查询前 */
@media screen and (min-width: 451px) {
  .logo {
    float: left;
  }

  .header .w input {
    position: absolute;
    right: 5px;
    height: 30px;
    width: 260px;
    margin-top: 15px;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    padding-left: 10px;
  }
}

.header {
  background: rgba(47, 47, 47, 0.98);
  height: 60px;
  width: 100%;
}

.w {
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.logo {
  line-height: 50px;
  width: 180px;
  height: 50px;
  padding-top: 5px;
}

.header h1 a {
  background: url(../images/ico-white.png) no-repeat;
  background-size: contain;
  color: #fff;
  display: inline-block;
  width: 195px;
  height: 40px;
  line-height: 40px;
}

.header h1 a span {
  margin-left: 45px;
}

.main {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

h2 {
  position: relative;
  margin: 15px;
}

h2 span {
  position: absolute;
  top: 5px;
  right: -7px;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  border-radius: 20px;
  background: #E6E6FA;
  line-height: 22px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

li input {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

p {
  margin: 0;
}

li p input {
  top: 3px;
  left: 40px;
  width: 70%;
  height: 20px;
  line-height: 14px;
  text-indent: 5px;
  font-size: 14px;
}

li {
  height: 32px;
  line-height: 32px;
  background: #fff;
  position: relative;
  margin-bottom: 10px;
  padding: 0 45px;
  border-radius: 3px;
  border-left: 5px solid #629A9C;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

ol li {
  cursor: move;
}

ul li {
  border-left: 5px solid #999;
  opacity: 0.5;
}

li a {
  position: absolute;
  top: 4px;
  right: 5px;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 14px;
  border: 6px double #FFF;
  background: #CCC;
  line-height: 14px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}



footer {
  margin: 50px auto;
  color: #666;
  font-size: 14px;
  text-align: center;
}

footer a {
  color: #666;
  text-decoration: none;
  color: #999;
}